<title>500 Server Error</title>
<style>h1, p {
        text-align: center;
    }</style>
<h1>500 Server Error</h1>
<hr>
<p><%- name %></p>
<br>
<strong>sorry,server is broken.</strong>
<br>
<div>
    time: <%- time %>
    <br>
    ip: <%- ip %>
    <br>
    path: <%- url %>
    <br>
    msg: <%- err %>
</div>
